/* <!-- 
  Author: Hrigdev Thapa
  Student ID- 100973932
  Date: 15 September 2025
  Purpose: HTML assignment – Semantic Markup of a Letter (University intranet project)
--> */
body {
  font: 1.2em / 1.5 system-ui;
}

.sender-column {
  text-align: right;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}